@import url('https://fonts.googleapis.com/css?family=Montserrat:600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');

html {
	font-family: 'Roboto', sans-serif;
	line-height: 1.5;
}

body {
	margin: 0;
}


h1, .tagline {
  font-family: 'Montserrat', sans-serif;
}

h1, h2, .tagline, p {
	color: #383838;
}

h2 {
	font-weight: 400;
  font-size: 2rem;
  margin-bottom: 0;
	margin-top: .5rem;
}

p {
	font-weight: 300;
	font-size: 1.3rem;
	margin-top: .3rem;
}

.features_wrap {
	padding: 0 1rem;
}

//mobile
@media screen and (max-width:800px) {
	main {
		.features_wrap {
			text-align: center;

			h1 {
				font-size: 1.5rem;
				margin-top: 2rem;
				margin-bottom: 3rem;
			}

			.features {
				max-width: 500px;
				margin: auto;
			  padding: 0 2rem;
				text-align: center;


				section {
					margin-bottom: 3rem;

					img {
						width: 220px;
						height: auto;
					}

					.content {
						text-align: center;

						h2 {
						  font-size: 1.2rem;
							margin-top: 1rem;
						}

						p {
							font-size: 1rem;
						}

					}//.content
				}//section
			}//.features
	}//features_wrap
	}//main
}


//desktop
@media screen and (min-width:800px) {

	main {
		margin: 0;
	}

.features_wrap {
  margin: auto;
	max-width: 1000px;

	h1 {
		font-size: 3rem;
		text-align: center;
		margin-top: 4rem;
		margin-bottom: 3rem;
	}

	.features {
		max-width: 700px;
		margin: auto;

		section {
			margin-bottom: 4rem;
			display: grid;
			grid-template-columns: repeat(2, max-content);
			grid-template-rows: 1fr;
			grid-column-gap: 3rem;


			img {
				width: 200px;
				height: auto;

				grid-column: 1/2;
				grid-row: 1/2;
			}

			.content {
				grid-column: 2/3;
				grid-row: 1/2;

				display: grid;
				grid-template-rows: repeat(2, max-content);

				h2 {
					grid-row: 1/2;
				}

				p {
					grid-row: 2/3;
					width: 70%;
				}//p
			}//.content
		}//section
	}//.features
}
}
